.container{
    border: 2px lightseagreen solid;
    margin-top: 7px;
    margin-bottom: 7px;
}

.btn{
    width: 95px;
    margin-left: 5px;
}

h1{
    text-align: center;
    color:navy;
}

.alert{
    margin-top: 15px;
    margin-bottom: 0px;
}